In [1]:
my_range = range(5)

my_range #returns a range object containing sequence of numbers from 0 thru 4

range(0, 5)

In [2]:
tuple(my_range)

(0, 1, 2, 3, 4)

In [3]:
list(my_range)

[0, 1, 2, 3, 4]

In [4]:
list(range(5,10)) #max value is one less than the max value we supply to function

[5, 6, 7, 8, 9]

In [5]:
list(range(-5,5))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [6]:
for i in range (3.3):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [7]:
for i in range('C','W'):
    print(i)

TypeError: 'str' object cannot be interpreted as an integer

In [8]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [9]:
for i in range(5):
    print('Hello')

Hello
Hello
Hello
Hello
Hello

In [10]:
for _ in range(5):                          #Value of variable does not matter
    print('Hello')

Hello
Hello
Hello
Hello
Hello