In [2]:
for i in range (1, 10):
    
    if i % 2 ==0:
        print("The number %s is divisible by 2, hence it is even" % i)
        
    else:
        print("The number %s is not divisible by 2, therefore it is not even" % i)

The number 1 is not divisible by 2, therefore it is not even
The number 2 is divisible by 2, hence it is even
The number 3 is not divisible by 2, therefore it is not even
The number 4 is divisible by 2, hence it is even
The number 5 is not divisible by 2, therefore it is not even
The number 6 is divisible by 2, hence it is even
The number 7 is not divisible by 2, therefore it is not even
The number 8 is divisible by 2, hence it is even
The number 9 is not divisible by 2, therefore it is not even

In [3]:
num_list = []

for i in range(1,21):
    
    if (i%3 == 0 or i%5 == 0):
        num_list.append(i)
        
print(num_list)

[3, 5, 6, 9, 10, 12, 15, 18, 20]

In [7]:
items = []

for i in range(100,301):
    
    num_str = str(i)
    
    first_digit = int(num_str[0])
    second_digit = int(num_str[1])
    third_digit = int(num_str[2])
    
    if (first_digit % 2 == 0) and (second_digit % 2 == 0) and (third_digit % 2 ==0):
        items.append(num_str)
        
print(", ".join(items))

200, 202, 204, 206, 208, 220, 222, 224, 226, 228, 240, 242, 244, 246, 248, 260, 262, 264, 266, 268, 280, 282, 284, 286, 288

In [5]:
for num1 in range(1,11):
    print('num =', num1, ':',end = ' ')
    
    for num_2 in range(1,11):
        print("{:2d}".format(num1 * num_2),end = " ")
        
    print()

num = 1 :  1  2  3  4  5  6  7  8  9 10
num = 2 :  2  4  6  8 10 12 14 16 18 20
num = 3 :  3  6  9 12 15 18 21 24 27 30
num = 4 :  4  8 12 16 20 24 28 32 36 40
num = 5 :  5 10 15 20 25 30 35 40 45 50
num = 6 :  6 12 18 24 30 36 42 48 54 60
num = 7 :  7 14 21 28 35 42 49 56 63 70
num = 8 :  8 16 24 32 40 48 56 64 72 80
num = 9 :  9 18 27 36 45 54 63 72 81 90
num = 10 : 10 20 30 40 50 60 70 80 90 100