# Q1. Print the cubes of all the elements in a list using a for loop

In [1]:
original_list = [1,2,3,4,5,6]
cubes_list = []

for i in original_list:
    
    cubes_list.append(i ** 3)
    
print(cubes_list)

[1, 8, 27, 64, 125, 216]

# Q2. Given the following 2-D list, Create a 1-D list containing all the automobile company names:

In [2]:
original_list = [['Volkswagen','Mercedes','BMW'],
                ['Honda','Toyota','Mazda']]

flattened_list = []

for cars_list in original_list:
    
    for car in cars_list:
        flattened_list.append(car)
        
print(flattened_list)

['Volkswagen', 'Mercedes', 'BMW', 'Honda', 'Toyota', 'Mazda']

# Q3. Use the range function to print all of the leap years in 21st Century

In [3]:
leap_year_range = range(2000,2100,4)

leap_year_list = list(leap_year_range)

print(leap_year_list)

[2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060, 2064, 2068, 2072, 2076, 2080, 2084, 2088, 2092, 2096]